.theme-2 .banner-background {
    background: linear-gradient(90deg, rgba(0, 139, 116, 0.8) 0%, rgba(0, 194, 168, 0.8) 100%);
}

.theme-2 .sidebar-background {
    background: linear-gradient(180deg, rgba(0, 139, 116, 0.8) 0%, rgba(0, 194, 168, 0.8) 100%);
}

.theme-2 .sidebar-background-img {
    background: linear-gradient(180deg, rgba(0, 139, 116, 0.8) 0%, rgba(0, 194, 168, 0.8) 100%), url('@/@/asset/icon/image/background-sidebar-green.webp') !important;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat;
    position: fixed !important;
}
